<!DOCTYPE html>
    <%- include('../partials/head'); %>

    <body class="container">
        
        <%- include('../partials/header', {pagina: 'sobre'}); %>

        <main>
            <div class="">
                <h1>Sobre mim</h1>
                <p>Olá, sou o Raphael, aprendendo programação</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>

</html>